.footer {
  height: 50px;
  background: white;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 14px;
}

.footer div {
  opacity: 0.8;
}
