.auth-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.auth-layout {
  flex: 1;
  background: #eef2ff;
  overflow-y: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
