.layout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebar-width) auto;
  grid-template-rows: var(--header-height) auto;
  grid-template-areas: 
    "header header"
    "sidebar content";
  overflow: hidden;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  /* border-top-right-radius: 10px; */
}

.layout-content {
  /* height: calc(100vh - var(--header-height)); */
  grid-area: content;
  padding: 20px;
  background: #f5f6fa;
  /* border-top-left-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
  overflow-y: auto;
}

/* .footer {
  grid-area: footer;
} */
