.main-layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-body {
  display: flex;
  flex: 1;
  overflow: auto;
  padding-top: var(--header-height);
}

.main-content {
  flex: 1;
  padding: 20px;
  background: #f8fafc;
  overflow-y: auto;
}
